@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333;
}

html {
  font-size: 62.5%;
}

/*GENERALI*/

.red-text {
  color: red;
}

.red-color {
  color: #9a252f;
}

.invisible {
  visibility: hidden;
}

/*SPECIFICHE*/

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 6.4rem;
  margin-bottom: 4.8rem;
  text-align: center;
}

.changes {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.changes button {
  width: 12rem;
  background-color: white;
  padding: 1.8rem 0.4rem;
  border-radius: 1.4rem;
  border: 1px solid #333;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.4rem;
}

.prod-img img {
  width: 100%;
}

.prod-bottom {
  margin-top: 1.8rem;
  margin-right: 0.8rem;
}

.prod-title p {
  font-size: 2.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.prod-description {
  margin-top: 1.8rem;
}

.prod-description p {
  color: #777;
  font-size: 1.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.prod-buy {
  margin-top: 1.8rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.prod-buy a {
  display: inline-block;
  text-decoration: none;
}

.prod-buy a ion-icon {
  font-size: 3.6rem;
}

.cost {
  font-size: 2.4rem;
}

.feedback {
  margin-top: 1.8rem;
}

.feedback form label {
  font-size: 1.8rem;
}

footer {
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #9a252f;
  margin-top: 4.8rem;
}

footer p {
  font-size: 2.4rem;
  color: white;
  font-weight: 500;
}
